{% extends 'base.html' %}
{% block title %}Issue Index{% endblock %}
{% block content %}
<div class="container">
            <div class="title_1 col-5">
                <h1>
                    Список задач
                </h1>
            </div>
        {% include 'partial/search.html' %}
        <div class="row">
            {% for issue in issues %}
                <div class="card card-margin col-5">
                    <div>
                        <h4><b>{{ issue.summary }}</b></h4>
                        <p><b>Статус: </b> {{ issue.status }} </p>
                        <p><a href="{% url 'issue_detail' issue.pk %}">Подробнее API</a></p>
                        <p><a href="{% url 'issue_details' issue.pk %}">Подробнее</a></p>
                    </div>
                    <div class="row margin-buttons">
                          <div class="col-3">
                        <a class="btn btn-primary edit-button" style="width: 150px; " href="{% url 'issue_update' issue.pk %}"
                           role="button">Edit using API</a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-danger" style="width: 150px; margin-left: 30px" href="{% url 'issue_delete' issue.pk %}"
                           role="button">Delete using API</a>
                    </div>

                    <div class="col-3">
                        <a class="btn btn-primary edit-button" style="margin-left: 50px;" href="{% url 'issue_upd' issue.pk %}"
                           role="button">Edit</a>
                    </div>
                    <div class="col-3">
                        <a class="btn btn-danger" style="margin-left: -10px;" href="{% url 'issue_del' issue.pk %}"
                           role="button">Delete</a>
                    </div>
                    </div>
                </div>
             {% empty %}
                <h1>Задачи не найдены</h1>
            {% endfor %}
        </div>
          {% if is_paginated %}
                {% include 'partial/pagination.html' %}
            {% endif %}
    </div>
{% endblock %}
